//////////////
// settings //
//////////////

.wrapper
    height: 90vh
    display: flex
    justify-content: center
    align-items: center
    font-size: var(--l)
    text-align: center

//////////
// page //
//////////

.page-heading
    margin: var(--unit) 0

.page-title
    font-family: var(--heading-font-family)
    font-size: var(--xl)

// .page-subtitle
// .page.content
// .page-main
// .page-aside

.page-footer
    border-top: 1px solid var(--dark)
    margin-top: var(--two-units)
    padding: var(--semi-unit) 0
    font-size: var(--s)


//////////////
// sections //
//////////////

.s1 + .s1
    margin-top: var(--unit)

.s1-header + .s1-main
    margin-top: var(--semi-unit)

.s2-header + .s2-main
    margin-top: var(--semi-unit)

.h2
    font-size: var(--l)
    font-family: var(--heading-font-family)

.h3
    font-family: var(--heading-font-family)


