/////////////////
// breakpoints //
/////////////////

m = '(min-width: 500px)' 
l = '(min-width: 1000px)' 
large-text = l
desktop-nav = l
mobile-nav = '(max-width:1000px)'


////////////////
// typography //
////////////////

:root

    --body-font-family: Georgia
    --heading-font-family: Georgia 
        
    --base-font-size: 17px
    @media m
        --base-font-size: 18px
    @media l
        --base-font-size: 22px

    --scale-factor: 1.5
    --m: var(--base-font-size)
    --l: calc(var(--scale-factor) * var(--m))
    --xl: calc(var(--scale-factor) * var(--l))
    --xxl: calc(var(--scale-factor) * var(--xl))
    --xxxl: calc(var(--scale-factor) * var(--xxl))
    --xxxxl: calc(var(--scale-factor) * var(--xxxl))
    --xxxxxl: calc(var(--scale-factor) * var(--xxxxl))
    --xxxxxxl: calc(var(--scale-factor) * var(--xxxxxl))
    --xxxxxxxl: calc(var(--scale-factor) * var(--xxxxxxl))
    --s: calc(var(--m) / var(--scale-factor))
    --xs: calc(var(--s) / var(--scale-factor))

    --body-line-height: 1.25
    --heading-line-height: 0.9
    --unit: calc(var(--body-line-height) * var(--base-font-size))
    --two-units: calc(2*var(--unit))
    --three-units: calc(3*var(--unit))
    --four-units: calc(4*var(--unit))
    --five-units: calc(5*var(--unit))
    --six-units: calc(6*var(--unit))
    --seven-units: calc(7*var(--unit))
    --semi-unit: calc(0.5*var(--unit))
    --quarter-unit: calc(0.5*var(--semi-unit))


////////////
// colors //
////////////

:root
    --primary: #f36a95
    // --secondary
    // --tertiary
    --grey: hsl(0, 0, 70)
    --bright: hsl(0, 0, 99)
    --dark: hsl(0, 0, 20)

    --text-color: var(--dark)
    --link-color: var(--primary)
    --heading-text-color: hsl(0, 0, 25)
    --overlay-background: #fff2d5
    --mobile-nav-background: var(--bright)
    --secondary-background: hsl(0, 0, 95)
    --list-border-color: var(--grey)


//////////
// misc //
//////////

:root
    --max-page-width: 800px
    --max-text-width: 33em
    --background: hsl(0, 0, 99)
    --page-padding: var(--unit)
    @media l
        --page-padding: var(--four-units)
