include /commons

mixin pageHeading(title, subtitle)
   header.page-heading
      h1
         p.page-title
            +label(title)
         if subtitle
            p.page-subtitle
               +label(subtitle)